
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color:#f4f4f4;
    text-align: center;
}


header {
    background-color: rgb(48, 221, 48);
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 30px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.section-inicio {
    text-align: center;
    background-color: rgb(48, 221, 48);
    color: white;
    border-radius: 8px;
}


.section-cursos ul {
    list-style-type: none;
    padding-left: 0;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
    color: black;
    
}

.section-cursos li {
    margin-bottom: 10px;
    text-align: center;
}


button {
    background-color: rgb(48, 221, 48);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #27ae60;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #c0392b;
}


footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(48, 221, 48);
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}
.centrar-img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}
.img-estudio {
    float: left;
    margin: 20px;
    width: 400px;
}
